.slider-container.noui-slider-container {
}

.slider-title {
  font-weight: 600;
  margin-bottom: 15px;
}

.nouislider-target {
  margin: 23px 0 15px 0;
  width: 225px;

  &.noUi-target {
    background: var(--slider-track-bg, #e0e0e0);
    border-radius: 3px;
    border: none;
    box-shadow: none;
    height: 4px !important;
  }

  .noUi-connect {
    background: var(--slider-active-bg, rgba(122, 203, 34, 1));
    box-shadow: 0 3px 15px var(--slider-active-shadow, rgba(132, 213, 44, 0.31));
    border-radius: 3px;
  }

  .noUi-handle {
    width: 16px !important;
    height: 16px !important;
    border-radius: 50% !important;
    background: linear-gradient(193.42deg, #85D62D 23.76%, #6BAB2B 86.01%) !important;
    box-shadow: 3px 5px 12px 0px rgba(255, 255, 255, 0.2) inset;
    box-shadow: 0px 10px 27px 0px rgba(30, 29, 46, 0.3) !important;
    border: none !important;
    cursor: grab;

    &::before, &::after {
      display: none;
    }
     top: -6px !important;
     &.noUi-handle-lower { right: -15px !important; }
     &.noUi-handle-upper { right: -1px !important; }
  }

  .noUi-handle:hover .noUi-tooltip,
  .noUi-handle.noUi-active .noUi-tooltip {
    display: block; // или opacity: 1; visibility: visible;
    opacity: 1;
    visibility: visible;
  }

  .noUi-active {
    cursor: grabbing;
  }

  .noUi-tooltip {
    position: absolute;
    padding: 2px 5px;
    background: var(--slider-tooltip-bg, rgba(48, 48, 61, 1));
    color: white;
    border-radius: 3px;
    font-size: 16px;
    line-height: 135%;
    white-space: nowrap;
    border: none;

    margin-bottom: 7px;

    display: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.1s ease-in-out, visibility 0.1s ease-in-out;

    &::after {
      content: '';
      position: absolute;
      bottom: -5px;
      left: 50%;
      transform: translateX(-50%);
      width: 11px;
      height: 5px;
      background-color: var(--slider-tooltip-bg, rgba(48, 48, 61, 1));
      -webkit-mask: url('data:image/svg+xml;utf8,<svg width="11" height="5" viewBox="0 0 11 5" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.5 5L0 0h11L5.5 5z" fill="black"/></svg>') no-repeat center center / contain;
      mask: url('data:image/svg+xml;utf8,<svg width="11" height="5" viewBox="0 0 11 5" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.5 5L0 0h11L5.5 5z" fill="black"/></svg>') no-repeat center center / contain;
    }
  }
}

.slider-inputs {
  display: flex;
  justify-content: space-between;
  max-width: 225px;
  margin-top: 10px;
}

.input-number-field {
  $root: &;
  display: inline-block;

  &__label {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 1px 0;
    border: 1px solid rgba(96, 96, 96, 1);
    border-radius: 3px;
    min-width: 20px;
    height: 20px;
    box-sizing: border-box;
  }

  &__input {
    width: auto;
    min-width: 1em;
    max-width: 100%;
    border: none;
    background-color: transparent;
    color: rgba(96, 96, 96, 1);
    caret-color: rgba(96, 96, 96, 1);
    font-size: 14px;
    padding: 0;
    text-align: center;
    margin: 0 auto;

    &:focus {
      outline: none;
      color: rgba(255, 255, 255, 1);
    }

    &::placeholder {
      text-align: center;
    }
  }
}