.slider-title {
  font-weight: 600;
}


.slider-default-track {
  position: relative;
  width: 225px;
  height: 4px;
  background: var(--slider-track-bg, #e0e0e0);
  border-radius: 3px;
  margin: 23px 0 15px 0;
  z-index: 0; /* Явно задаем z-index */
}

.slider-track {
  position: relative;
  width: 211px;
  height: 4px;
  background: var(--slider-track-bg, #e0e0e0);
  border-radius: 3px;
  margin: -19px 7px 15px 7px;
  z-index: 1; /* Делаем выше */
}

.slider-fill {
  position: absolute;
  height: 100%;
  background: var(--slider-active-bg, #2e7d32);
  box-shadow: 0 3px 15px var(--slider-active-shadow, rgba(46, 125, 50, 0.2));
  border-radius: 3px;
}

.slider-handle {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: linear-gradient(193deg, #1b5e20 24%, #43a047 86%);
  box-shadow: 
    inset 3px 5px 12px rgba(255, 255, 255, 0.2),
    0 10px 27px rgba(30, 29, 46, 0.3);
  cursor: grab;
  z-index: 1;
}

.slider-tooltip {
  position: absolute;
  bottom: 29px;
  left: 50%;
  transform: translateX(-50%);
  padding: 2px 5px;
  background: var(--slider-tooltip-bg, rgba(48, 48, 61, 1));
  color: white;
  border-radius: 3px;
  font-size: 16px;
  white-space: nowrap;
}

.slider-tooltip::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 12px;
  height: 5px;
  background: #30303D;
  -webkit-mask: url('data:image/svg+xml;utf8,<svg width="11" height="5" viewBox="0 0 11 5" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.25112 4.80948L0 0L10.5022 6.84265e-07L5.25112 4.80948Z" fill="black"/></svg>') no-repeat;
  mask: url('data:image/svg+xml;utf8,<svg width="11" height="5" viewBox="0 0 11 5" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.25112 4.80948L0 0L10.5022 6.84265e-07L5.25112 4.80948Z" fill="black"/></svg>') no-repeat;
}

.slider-inputs {
  display: flex;
  justify-content: space-between;
  max-width: 225px;
}

.input-number-field {
  $root: &;
  display: inline-block;

  &__label {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 1px 0;
    border: 1px solid rgba(96, 96, 96, 1);
    border-radius: 3px;
    min-width: 20px;
    height: 20px;
    box-sizing: border-box;
  }

  &__input {
    width: auto;
    min-width: 1em;
    max-width: 100%;
    border: none;
    background-color: transparent;
    color: rgba(96, 96, 96, 1);
    caret-color: rgba(96, 96, 96, 1);
    font-size: 14px;
    padding: 0;
    text-align: center;
    margin: 0 auto;

    &:focus {
      outline: none;
    }

    &::placeholder {
      text-align: center;
    }
  }
}