.checkbox {
  position: relative;
  display: inline-flex;
  align-items: center;
  column-gap: 8px;
  user-select: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.checkbox__box {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  background-color: transparent;
  transition: all 0.2s ease;
}

.checkbox__box-border {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #f3f4f6;
  border-radius: 2px;
  transition: all 0.2s ease;
}


.checkbox__box .checkbox__icon {
  position: relative;
  z-index: 2;
  display: none;
  width: 15px;
  height: 14px;
  pointer-events: none;
}

.checkbox__text {
  color: #f3f4f6;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 600;
}

.checkbox__input:checked + .checkbox__box {
  background: 
    linear-gradient(0deg, #84D52C, #84D52C),
    linear-gradient(266.56deg, rgba(107, 171, 43, 0.2) 0%, rgba(132, 213, 44, 0) 94.16%);
  background-blend-mode: normal, normal;
  box-shadow: 
    3px 5px 12px 0px rgba(255, 255, 255, 0.36) inset,
    0px 10px 27px 0px rgba(30, 29, 46, 0.3);
}

.checkbox__input:checked + .checkbox__box .checkbox__box-border {
  border-color: transparent;
}

.checkbox__input:checked + .checkbox__box .checkbox__icon {
  display: block;
}

.checkbox__input:checked ~ .checkbox__text {
  color: #ffffff;
}

.checkbox__input:focus-visible + .checkbox__box {
  outline: 2px solid #84D52C;
  outline-offset: 2px;
}

.checkbox__input:disabled + .checkbox__box {
  opacity: 0.5;
  cursor: not-allowed;
}