include ../../core/ui/layout/input-field/input-field.pug
include ../../core/ui/layout/value-slider/value-slider.pug
include ../../core/ui/layout/green-button/green-button.pug


mixin header()
  .header
  .header__top-wrapper
    h1.header__title marketplace
    +input-field({
      id: "search",
      name: "search",
      placeholder: "Search",
      icon: "Search"
    })
  .header__bottom-wrapper
    +value-slider({
      title: "Price Range",
      titleTag: "h3",
      config: {
      handles: 2,
      minValue: 234,
      maxValue: 9999,
      minRange: 234,
      maxRange: 9999,
      unit: " $",
      showInputs: true,
      showMinInput: true,
      showMaxInput: true
    }
    }).price-filter
    .header__filter-buttons 
      h2.header__subtitle 1034,5 Results